*{
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color:white;
}
.container{
    display: flex;
}
.mainleft{
    width: 50%;
}
.listbox{
    display: flex;
    flex-wrap: wrap;
}
#box{
    
    flex: 47%;
    padding: 10px;
    margin: 10px;
    
}
#arow{
    list-style-type:circle;
}
.starting{
    line-height: 20px;
    margin: 5px;
    padding: 5px;
}
.mainright{
    border: 5px solid lightgray;
}
.firsthalf,.firsthalf h2{
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 10px;
    
}
.firsthalf article{
    padding: 20px;
}
.second{
    background-color:lightgray;
    padding: 30px;
    text-align: center;
    margin-top: 10px;
    
}
#btn{
    background-color: orange;
    color: white;
    border: none;
    padding: 8px;
    margin-bottom: 10px;
    width: 150px;
    
}
.sms{
    border: 2px solid blue;
    background-color: #fff;
    color: blue;
    padding: 4px;
    margin-top: 10px;
}
.starting h2{
    margin-bottom: 10px;
}
